body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 230, 230);
}

/* NAVBAR */

.navbar {
    background-color: rgb(243, 243, 243) !important;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: black;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.collapse .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.collapse .btn:hover {
    background-color: white;
    color: black;
}

nav .dropdown {
    display: none;
}

@media (max-width: 991px){
    .navbar-nav .nav-link {
        margin-left: 47px;
    }

    .collapse .btn {
        margin-left: 47px;
    }
}

/* /NAVBAR/ */

/* Detail Project */
.detailContainer .detailCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(201, 201, 201);
    width: 1250px;
    margin-bottom: 50px
}

.detailCard h2 {
    text-align: center;
    font-weight: bold;
}

.detailCard .left {
    flex: 30%;
}

.detailCard .right {
    flex: 70%;
}

.left .img-container {
    width: 310px;
}

.left .img-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.desc-container p {
    font-size: 20px;
}

.icons h4 {
    font-size: 22px;
}

.icons img {
    width: 25px;
}

footer {
    background-color: rgb(243, 243, 243);
    height: 10rem;
}

.test p {
    margin: 0px 20px;
}

.test a {
    text-decoration: none;
    color: black;
}

.test a:hover {
    text-decoration: underline;
}